<div class="about-body">
	<p>
		I started programming out of necessity.  I was managing projects for an Architectural Lighting Design firm, and having to duplicate work when distributing information among different groups of people.  There might be temp labor from St Louis, professional technicians from NYC or San Francisco, designers, trades people, and personnel from corporate, all working on the same project.  Similar information had to be modified to suit the preferred technologies, or some information just wasn’t relevant or appropriate for everyone.  I started deploying websites to standardize reports, training materials, and shared prep work.  Materials where password protected, and people could only access appropriate information.
	</p>

	<p>
		I was soon looking into ways to dynamically update information and work with databases.  I worked with Ruby on Rails, and quickly moved onto Javascript stacks.  I’m most happy working with NodeJS, AngularJS, and both SQL or NOSQL databases.
	</p>

	<p>
		I live in NYC with my partner and our super cool dog.  We stay active in our community, cleaning up our local park, volunteering at a soup kitchen, supporting the local venders and being the best neighbors we can be.  I spend a lot time kickboxing or playing boardgames.  I’m always reading some compelling non-fiction; early American History, or maybe something esoteric or overly specialized.  If there’s any time left, I’ll be at the Metropolitan Museum of Art, or any of the other institutions in the area.  I let my tastes in art drift, letting myself be interested in anything.
	</p>
</div>