<div class="about-body">

	<p>
		Since early 2017, I’ve been working on EDCs (Electronic Data Capture) for medical testing.  The primary use is for companies bringing medical devices or drugs to market, and have to step through multi-layered trials to prove effectiveness and safety.  Syncrony, the platform I work on, can be though about in three parts.  First, a study manager builds a study, defining the data needing to be collected.  When a study goes live, the data is collected by many researchers, across multiple site, via human subjects.  As data is collected, it is analyzed by data scientists for insights.  Essentially: build, collect, and analyze.
	</p>

	<p>
		Before working on EDC, I worked on a project management application for an Architectural Lighting Design firm.  The designers and labor were working on projects nationally and internationally, and collaborating with other companies of different sizes and region of work.  For example, there might be temp labor from St Louis, professional technicians from NYC or San Francisco, designers, trades people, and personnel from corporate offices, all working on the same project.  Similar information had to be modified to suit the preferred technologies, or some information just wasn’t relevant or appropriate for everyone.  The web application consolidated all the information in one place and removed duplicate work and protected proprietary information.
	</p>

	<p>
		I live in NYC with my partner and our super cool dog.  We stay active in our community, cleaning up our local park, volunteering at a soup kitchen, supporting the local venders and being the best neighbors we can be.  I spend a lot time kickboxing or playing boardgames.  I read a lot of history and other non-fiction.  If there’s any time left, I’ll likely be at a musuem. z
	</p>

</div>