<div ng-repeat="project in ctrl.designEx">

	<img ng-if="project.image"
		 class="img-logo" 
	 	 src="{{project.image}}">

	<table class="table">
		<tbody>
			<tr>
				<td class="multi-line-cell">
					<h3 ng-bind="project.name"></h3>
					<div class="col-md-10">
						<span ng-bind="project.description"></span>
						<span ng-if="project.url">
							<a href="{{ project.url }}" target="_blank">
								learn more
							</a>
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

</div>