<div>
	<table class="table">
		<tbody ng-repeat="project in ctrl.designEx">
			<tr>
				<td class="multi-line-cell">
					<h3 ng-bind="project.name"></h3>
					<div class="col-md-11">
						<label>
							Description
						</label>
						<span ng-bind="project.description"></span>
						<div ng-if="project.url">
							<label>
								link
							</label>
							<a href="{{ project.url }}" target="_blank">
								<p ng-bind="project.url"></p>
							</a>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>