footer.footer {
  background-color: #D6C0DC;
  background-image: url(http://1-background.com/images/canvas/canvas-hemp-silk.jpg);
  color: #3A2C12;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  min-width: 475px;
}

footer a img {
	max-width: 50px;
}
