footer.footer {
  background-color: #D6C0DC;
  color: #504023;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  min-width: 475px;
}

footer a {
	display: block;
}
