body {
  background-color: #F5F5F5;
  overflow-x: hidden;
}

header {
  background-color: #D6C0DC;
  color: #504023;
  text-align: center;
  padding: 30px;
  font-size: 16px;
  min-width: 475px;
}

.welcome {
  margin: 1.5em;
}


/* MAIN TABLE */

.multi-line-cell span {
  display: block;
  margin-bottom: 1.1em;
}

.multi-line-cell label {
  margin-bottom: 0em;
}

.project-tools {
  display: inline;
}

.table th, .table td {
    border: 0px !important;
}

.table > tbody + tbody {
    border-top: 0px !important;
}

/* Images */

.img-logo {
    width: 110vw;
    margin-left: -20%;
}
