body {
  background-color: #F5F5F5;
  overflow-x: hidden;
  min-width: 475px;
}

header {
  background-color: #bbbbbb;
  /*background-image: url(http://1-background.com/images/canvas/canvas-hemp-silk.jpg);*/
  color: #3A2C12;
  text-align: center;
  padding: 30px;
  font-size: 16px;
}

.welcome {
  margin: 1.5em;
  opacity: 1;
}

/* MAIN TABLE */

.multi-line-cell span {
  display: block;
  margin-bottom: 1.1em;
}

.multi-line-cell label {
  margin-bottom: 0em;
}

.project-tools {
  display: inline;
}

.table th, .table td {
    border: 0px !important;
}

.table > tbody + tbody {
    border-top: 0px !important;
}


/* NAVIGATION */

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #90A7BB;
}


/* IMAGES */

.img-logo {
    width: 116vw;
    margin-left: -20%;
}

/* ABOUT */

.about-body {
  margin: 3em 1.1em 1em 1.1em;
}

/* ANIMATE */

.fade {
    transition:0.4s linear all;
}

.fade.ng-enter,
.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.fade.ng-leave,
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
  position: absolute;
  z-index: -1;
}

/*.entrance.ng-enter {
  transition: 0.4s linear all;
  transform: translateX(80%);
}

.entrance.ng-enter-active {
  transform: translateX(0);
}*/


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 450px) 
and (orientation: portrait) {

  .img-logo {
    width: 148vw;
    margin-left: -20%;
  }

}



/*
http://1-background.com
http://1-background.com/images/clouds/clouds-seamless-background-blue1.jpg
http://1-background.com/images/canvas/canvas-hemp-silk.jpg*/